@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
}

main {
  width: 100%;
  min-height: 100vh;

  background-color: rgb(175, 213, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 50%;
    max-width: 600px;
    padding: 20px 30px;

    background-color: white;
    border-radius: 10px;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      letter-spacing: 2px;

      text-decoration: underline;
      text-decoration-color: rgb(43, 43, 43);
    }

    p {
      display: flex;
      flex-direction: column;

      justify-content: space-between;
      height: 100px;
      max-height: 200px;
      /* gap: 100px; */

      position: relative;
      font-size: 1.3rem;
      font-weight: 600;

      text-align: center;
      margin-bottom: 1rem;

      span {
        position: absolute;

        bottom: 0;
        right: 0;
        font-size: 12px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      text-align: center;
      /* margin-top: 20px; */

      .new,
      .tweet {
        margin-left: 10px;
        width: 100px;
        height: 30px;

        border-radius: 40px;
        border: none;
        font-size: 10px;
        cursor: pointer;
      }

      .new {
        background-color: #1da1f2;
        color: white;
      }

      .tweet {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4;

        border: 1px solid #1da1f2;
        img {
          width: 12px;
        }
      }
    }
  }
}
